In [6]:
import pandas as pd

In [54]:
features = ['buying','maint','doors','persons','lug_boot','safety','class']

In [55]:
data  = pd.read_csv('car.data',sep=",",names = features)

In [56]:
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [57]:
data.describe()

       buying maint doors persons lug_boot safety  class
count    1728  1728  1728    1728     1728   1728   1728
unique      4     4     4       3        3      3      4
top       low   low     4       4      big    low  unacc
freq      432   432   432     576      576    576   1210

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
class       1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [59]:
from sklearn.preprocessing import LabelEncoder

In [60]:
encoder = LabelEncoder()

In [61]:
features = ['buying','maint','doors','persons','lug_boot','safety','class']

In [62]:
for feature in features:
    codings = encoder.fit_transform(data[feature])
    data[feature] = codings

In [63]:
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       3      3      0        0         2       1      2
1       3      3      0        0         2       2      2
2       3      3      0        0         2       0      2
3       3      3      0        0         1       1      2
4       3      3      0        0         1       2      2

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null int32
maint       1728 non-null int32
doors       1728 non-null int32
persons     1728 non-null int32
lug_boot    1728 non-null int32
safety      1728 non-null int32
class       1728 non-null int32
dtypes: int32(7)
memory usage: 47.4 KB

In [69]:
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
data.corr()

            buying     maint     doors   persons  lug_boot    safety     class
buying    1.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.051424
maint     0.000000  1.000000  0.000000  0.000000  0.000000  0.000000  0.040194
doors     0.000000  0.000000  1.000000  0.000000  0.000000  0.000000 -0.031327
persons   0.000000  0.000000  0.000000  1.000000  0.000000  0.000000 -0.299468
lug_boot  0.000000  0.000000  0.000000  0.000000  1.000000  0.000000  0.033184
safety    0.000000  0.000000  0.000000  0.000000  0.000000  1.000000 -0.021044
class     0.051424  0.040194 -0.031327 -0.299468  0.033184 -0.021044  1.000000

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [79]:
X,xtest,Y,ytest = train_test_split(data.drop('class',1),data['class'])

In [ ]:
model = KNeighborsClassifier(neighbors = )